<nb-card>
  <nb-card-header>
    {{'dashboard.title' | translate}}
  </nb-card-header>

  <nb-card-body>
    <p>KNBS Data Browser has been developed in the framework of the project in Kenya "Support to the implementation of 2019 Population and housing census” funded by AICS, the Italian Agency for Development Cooperation.</p>
    <p>The project has been jointly implemented by KNBS, the Kenya National Bureau of Statistics and Istat, the Italian National Institute of Statistics starting from February 2022, 
    with the aim of reinforcing KNBS capacities for data dissemination, also trough the development of a web-based dissemination system that will allow to make data census tables and related metadata available on-line.</p>
    </nb-card-body>
</nb-card>